<img src="<%= photo.avatar.url%>" alt="" />
<h2> <%= photo.title%></h2>
<h2> <%= photo.description%></h2>

<form action='/photos' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<input type='hidden' name='_method' value='delete'>
	<input id='photo_destroy' type='hidden' name='photo_id' value='<%= photo.id %>'>
	<button id="delete">Delete Photo</button>
</form>
