<p><%= photo.description %></p>
<p><%= photo.first_name %></p>
<p><%= photo.last_name %></p>

<form id="like" action='/likes' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<input type='hidden' name='user_id' value='<%= current_user.id %>'>
	<input id="photo_like" type="hidden" name="photo_id" value="<%= photo.id %>">
	<input type='submit' value='Like'>
</form>