<link rel="stylesheet" type="text/css" href="<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
<style type="text/css">
	html{
		height:100%;
	}
	body{
		height:100%;
		background-color:white; 
		/*background:linear-gradient(#e6f5ff,#ccebff,#b3e0ff,#99d6ff); */

	}
	img{
		border-radius:50%;
		margin-left:10px;
		margin-top:10px;
		display:inline-block;
    height: 210px;
    width:200px;

	}
	#sports{
		/*margin-left:370px; */
		background-color:#004a80;
		width:500px;
		height:500px;
		overflow:scroll;
		display:inline-block;

	}

	h1{
		display: inline-block;
		font-family:'Yellowtail', cursive;
		padding-left:100px;
		font-size:40px;
		color:white;
	}
	a{
		display:inline-block;
		margin-left:1000px;
		font-family:'Yellowtail', cursive;
		text-decoration:none;
		font-size:20px;
		color:white;
	}
	#header{
		background-color:#004a80;
		margin-bottom:15px;

	}
	#new_div{
		display:inline-block;
		margin-left:900px;
		/*margin-bottom:900px; */
	}
	#large{
		display:inline-block;
		position:relative;
		bottom:400px;
	}
</style>


<div id="header">
	<h1><%= @category.category %></h1>
	<a href="/crate/show/">Go back</a>
</div>
<script type="text/javascript">

  $(document).ready(function(){
      $('.photo').on('click', function(){
        var id = $(this).attr("id");
        $.get('/crate/find/' + id, function(response)
        {

          var description = "";
          description += "<h3>" + response[0].description + "</h3>";
					var author = "";
					var title = "";
					var photo_id = response[0].id
					$("#photo_destroy").attr("value", photo_id);
					$("#photo_like").attr("value", photo_id);
					author += "<h3>" + response[0].first_name +' ' + response[0].last_name + "</h3>";
          title += "<h2>" + response[0].title + "</h2>";
					$('#photo_id').html(photo_id)
          $('#description').html(description);
					$('#author').html(author)
          $('#title').html(title);

        });
          $('#large').attr('src', $(this).attr('src'));
      })
  })


</script>
	<div id="sports">
		<% @photo.each do |photo|  %>
			<img id="<%= photo.id %>" class= "photo" src="<%= photo.avatar.url(:large)%>">
		<%end%>
	</div>

<% if @photo.first %>
	<div id="new_div">
		<h2 id="author"><%=@photo.first.user.first_name%> <%=@photo.first.user.last_name%></h2>
		<h2 id="title"><%=@photo.first.title%></h2>
		<p id="description"><%=@photo.first.description%></p>
		<img id="large" src="<%=@photo.first.avatar.url(:large)%>">
		<p id="photo_id"><%=@photo.first.id%>	</p>
		<%end%>
<div id="formdiv">

	<form action='/likes' method='post'>
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		<input type='hidden' name='_method' value='delete'>
		<input id='photo_destroy' type='hidden' name='photo_id' value=''>
		<input type='submit' value='Unlike'>
	</form>

		<form id="like" action='/likes' method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type='hidden' name='user_id' value='<%= current_user.id %>'>
			<input id="photo_like" type="hidden" name="photo_id" value="">
			<input type='submit' value='Like'>
		</form>
</div>
</div>
