<link rel="stylesheet" type="text/css" href="<link href="https://fonts.googleapis.com/css?family=Yellowtail"" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Raleway" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<style type="text/css">
	@media only screen and (min-width: 1024px) {
	    /* For desktop: */
	    .col-1 {width: 8.33%;}
	    .col-2 {width: 16.66%;}
	    .col-3 {width: 25%;}
	    .col-4 {width: 33.33%;}
	    .col-5 {width: 41.66%;}
	    .col-6 {width: 50%;}
	    .col-7 {width: 58.33%;}
	    .col-8 {width: 66.66%;}
	    .col-9 {width: 75%;}
	    .col-10 {width: 83.33%;}
	    .col-11 {width: 91.66%;}
	    .col-12 {width: 100%;}


	#wrapper{
		
		width: 96%;
		max-width: 100%;
		margin: auto;
		padding: 2%;
	}



	html{
		height:100%;
	}

	body{
		height:100%;
		background-color: tan;
/*<<<<<<< HEAD
		background: tan ; 
=======
		background:white;
>>>>>>> 2e11e878819b70733388bab5abf84ede64fa36da
		/*background:linear-gradient(#e6f5ff,#ccebff,#b3e0ff,#99d6ff); */*/
	}

	.photo{
		/*border-radius:50%;*/
		margin-left:10px;
		margin-top:10px;
		display:inline-block;
	    height: 210px;
	    width:200px;
	    -webkit-filter: grayscale(100%);
  		cursor: pointer; cursor: hand;
   		transition: all 0.5s ease;
	}

	.photo:hover{
		-webkit-filter: grayscale(0%);
  		border-radius: 50%;
	}

	#sports{
		/*margin-left:370px; */
		/*background-color:#004a80;*/
		width:450px;
		height:550px;
		overflow:scroll;
		display:inline-block;
		padding-top: 30px;
		margin-bottom: 250px;
		margin-left: 00px;

	}

	h1{
		display: inline-block;
		font-family:'Yellowtail', cursive;
		padding-left:100px;
		font-size:40px;
		color:white;
	}

	a{
		display:inline-block;
		margin-left:200px;
		font-family:'Yellowtail', cursive;
		text-decoration:none;
		font-size:20px;
		color:white;
	/*	position: relative;
		bottom: 80px;*/
	}

	#header{
		background-color:#a89070;
		height: 100px;
		width: 100%;
		/*margin-bottom:15px;*/
	}

	/*#new_div{
		display:inline-block;
		margin-left:900px;
	}*/

	#large {
		display:inline-block;
/*		height: 316px; 
		width: 230px;*/
		margin-top: 69px;
		margin-left: 85px;

		/*position:absolute;*/
		/*bottom:400px;*/
		/*margin-bottom:900px; */
	}
	#large img{
	    width: 230px;
	    height: 320px;
	}
	 #author{
		margin-left: 130px;
		margin-bottom: 
	}
	.imgWH{
	    width: 230px;
	    height: 320px;
	}
/*
	#new_div{
		display:inline-block;
		height: 500px;
		width: 400px;
		background-image: image-url("frameFashion.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-left: 170px;
		margin-bottom: 0px;
		position: relative;
		bottom: 350px;
}*/

		/*margin-left:900px;*/
	}
	#photo_id{
		margin-top: 100px;
	}

	#formdiv{
		margin-top: 450px;
		margin-left: 50px;
		margin-top: 0px;
		font-size: 35px;
	 	position: relative;
	 	top: 100px;
	}


	#formdiv p{
		text-align: center;
		margin-top: 1px;
		margin-bottom: 1px;

	}


	#catName {
		margin-left: 800px;
		font-family: 'Raleway', sans-serif;
	}

	#webName{
		font-family: 'Bungee Outline', cursive;
	}

	#like{
		text-align: center;
	}

</style>

<div id="wrapper">
<div id="header">
	<h1 id="webName">Aperture</h1>
	<h1 id="catName"><%= @category.category %></h1>
	<a href="/crate/show/">Go back</a>
</div>
<script type="text/javascript">

  $(document).ready(function(){
      $('.photo').on('click', function(){
        var id = $(this).attr("id");
        $.get('/crate/find/' + id, function(response)
        {
        	$("#formdiv").html(response);
        });
        $('.largeIMG').attr('src', $(this).attr('src'));
        $('.largeIMG').addClass('imgWH');
      })
  })


</script>
	<div id="sports">
		<% @photo.each do |photo|  %>
			<img id="<%= photo.id %>" class= "photo" src="<%= photo.avatar.url(:large)%>">
		<%end%>
	</div>


<% if @photo.first %>
	
	<div id="new_div">
		<!-- <h2 id="author"><%=@photo.first.user.first_name%> <%=@photo.first.user.last_name%></h2> -->
		<h2 id="title"><%=@photo.first.title%></h2>
		<p id="description"><%=@photo.first.description%></p>
		<div id="large"><img class="largeIMG" src="<%=@photo.first.avatar.url(:large)%>"></div>
		<!-- <p id="photo_id"><%=@photo.first.id%></p> -->
		<%end%>

<div id="formdiv">
</div>
</div>
</div>
