<style>

#larger{
position:relative;
left:75%;
}


#large{
  /*display:inline-block;*/
  margin-left:1000px;
  /*width:880px;
  height:500px;*/
  border-radius:50%;
  /*position:relative;*/
  /*bottom:70px; */
}
.thumbnail{
display:inline-block;
height:100px;
width:100px;
margin-right:20px;
padding-bottom:10px;
border-radius:50%;


}
#smaller{
display:inline-block;
  width:900px;
}



</style>
<header>
  <img src="" alt="" />
  <label></label>Categories:
 <% @categories.each do |category| %>
  <a href="/crate/category/<%= category.id %>"><%= category.category %></a>
  <% end %>
  </label>
  <a href="#">Edit</a> |
  <a href="/sessions/" data-method="delete">Log Out</a>
</header>

<h2><%= @user.first_name%> <%= @user.last_name%>'s Profile Page</h2>
<h4><%= @user.description%></h4>

<form action="/photos" enctype="multipart/form-data" method="post">
  <label>Post a New Photo:</label>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label>Description:</label>
  <input type="text" name="photo[description]" value="">
  <select name="photo[category_id]">
  <% @categories.each do |category| %>
    <option value="<%=category.id%>"><%=category.category%></option>
    <%end%>
  </select>
  <input type="hidden" name="photo[user_id]" value="<%=session[:user_id]%>">
  <input type="file" name="photo[avatar]">
  <input type="submit" value="New Photo">
</form>



  <h2>My Photo Gallery</h2>
  <div id="smaller">
  <% @photos.each do |photo| %>
  <img class="thumbnail" id="<%=photo.id%>" src="<%=photo.avatar.url(:thumb)%>" alt="" />
  <% end%>
</div>

<script type="text/javascript">

  $(document).ready(function(){
      $('.thumbnail').on('click', function(){
        var id = $(this).attr("id");
        $.get('/photos/find/' + id, function(response)
        {
          console.log(response);
          var description = "";
          description += "<h3>" + response.description + "</h3>"


          $('#larger').html(description);
        });
        $('#large').attr('src', $(this).attr('src'));
      })
          

  })


</script>

<div id="larger">
</div>
<img id="large" src="" alt="" />
